:root{
    --primary: #305080;
    --light: #ffffff;
    --grey: #efefef;
    --info: #3F67A4;
}

body{
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: var(--primary);
}

.search:focus {
    outline: none;
}

.search {
    padding: 3px 5px;
}

.navbar-brand{
    margin-top: 18px;
    margin-left: 10px;
    margin-bottom: 15px;
}

a:hover{
    text-decoration:none;
}

.bg-primary{
    background-color: var(--primary) !important;
}

#sidebar-container{
    min-height: 100vh;
}

#sidebar-container .logo{
    padding: 14px 20px;
}

#sidebar-container .menu{
    width: 18rem;
}

.navbar-light{
    width:100%;
}

.btn-info{   
     background-color: var(--info) !important;
     border:none;
     font-size: 17px;
     padding-top:10px;
     padding-bottom: 10px;
     padding-left:28px;
     padding-right:28px;
     margin-left: 855px;
}

.navbar-light{
    background-color: var(--primary) !important;
    padding: 25px;
}

.btn-block{
    width: 60px;
    font-size: 12px;
    width: 80px;
    font-family: 'Poppins', sans-serif;
}

.btn-primary{
    background-color: var(--info) !important;
    border-style: none;
    margin:0 auto;
}

.btn-secondary{
    background-color: #A4453F !important;
    border-style: none;
    margin:0 auto;
}
.head{
    background-color: var(--primary) !important;
    color: var(--light);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.btn-warning{
    background-color: var(--info) !important;
    border-style: none;
    width: 145px;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: 42px;
    margin-right: 532px;
    color: var(--light);
}

.rounded-pill{
   color: black;
   padding: 5px 15px;
   margin-bottom: 20px;
   margin-top: 50px;
   font-size: 15px;
   width: 250px;
}

.table-md{
    text-align: center;
    margin: 0 auto;
}

.body{
  width: 100%;
  border-collapse: collapse;
}

.btn-edit{
    width: 90px;
    margin-bottom: 3px;
    color: var(--light);
    background-color: var(--info);
}

.btn-borrow{
    width: 90px;
    margin-bottom: 3px;
    color: var(--light);
    background-color: #A43F63;
}

.btn-delete{
    width: 90px;
    color: var(--light);
    background-color: #A4453F;
}

.btn-return{
    width: 90px;
    color: var(--light);
    background-color: #3FA492;
}

.modal-dialog{
    width: 700px;
    margin: 0 auto;
    margin-top: 80px;
    margin-left: 450px;
}

.modal-body{
    margin-top: 40px;
    margin-bottom: 10px;
}
.form-group{
    margin-top: 10px !important;
}

.btn-submit{
    margin-left: 495px !important;
    background-color: var(--info);
    border-style: none;
    font-size: 17px;
    color: var(--light);
    width:100px;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 40px;
} 

.btn-submit2{
    margin-left: 480px !important;
    background-color: var(--info);
    border-style: none;
    font-size: 17px;
    color: var(--light);
    width:100px;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 40px;
} 

.rounded-0{
    width: 340px !important;
    border-style: none;
    height: 30px;
}

.col-form-label{
    margin-left: 65px;
}

.modal-header{
    background-color: var(--primary);
    color: var(--light);
}

.header{
    font-size: 19px;
    margin-top: 8px;
    font-family: 'Poppins', sans-serif;
    height:10px;
}

.modal-sm{
    margin:0 auto;
    margin-top: 100px;
}

.img{
    width: 30px;
    height: 30px;
    padding-right:7px;
    padding-bottom:5px;
}

.icon{
    width: 35px;
    height: 35px;
}

.pie{
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid black;
}

.bar{
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid black;
}

h3{
    text-align: center;
    padding-top: 50px;
    color: black;
}