<template>
  <div>
    <div id="sidebar-container" class="primary">
      <nav>
        <a class="navbar-brand" href="#">
          <img
            src="@/assets/img/Logo.png"
            width="300"
            height="40"
            alt=""
            loading="lazy"
          />
        </a>
      </nav>
      <div class="menu">
        <router-link to="/" class="d-block text-light p-3"
          ><img class="icon" src="@/assets/img/icon_dashboard.png" />
          Dashboard</router-link
        >
        <router-link to="/patron" class="d-block text-light p-3">
          <img class="icon" src="@/assets/img/add patron_btn.png" /> Patron
          Management</router-link
        >
        <router-link to="/book"  class="d-block text-light p-3">
          <img class="icon" src="@/assets/img/icon_book.png" /> Book
          Management</router-link
        >
        <router-link to="/settings" class="d-block text-light p-3">
          <img class="icon" src="@/assets/img/icon_settings.png" />
          Settings</router-link
        >
      </div>
    </div>
  </div>
</template>
