<template>
  <div id="app">
    <div class="d-flex">
      <Sidebar />
      <div class="w-100">
        <Navbar />
        <router-view />
      </div>
    </div>
  </div>
</template>

<script>
import Sidebar from "@/components/Sidebar";
import Navbar from "@/components/Navbar";

export default {
  components: {
    Sidebar,
    Navbar,
  },
};
</script>
