<template>
  <div>
    <div class="container">
      <div class="row ml-1">
        <button type="button" class="btn btn-warning" v-b-modal.add-book>
          <img class="img" src="@/assets/img/addbook_btn.png" />Add Book
        </button>
        <input
          type="text"
          class="search shadow bg-white rounded-pill"
          placeholder=" Search"
        />
      </div>
    </div>
    <div class="container">
      <table class="shadow bg-white table table-md col-sm-11">
        <thead class="head">
          <tr>
            <th scope="col">Action</th>
            <th scope="col">Name</th>
            <th scope="col">Author</th>
            <th scope="col">Copies Available</th>
            <th scope="col">Category</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="body right-border">
          <tr v-for="(book, i) in books" :key="i">
            <th scope="row">
              <button
                type="button"
                class="btn btn-edit btn-sm"
                v-on:click="showUpdate(i)"
              >
                Edit
              </button>
              <button type="button" class="btn btn-borrow btn-sm">Borrow</button
              ><br />
              <button
                type="button"
                class="btn btn-del btn-sm"
                v-on:click="showDelete(i)"
              >
                Delete
              </button>
              <button type="button" class="btn btn-return btn-sm">
                Return
              </button>
            </th>
            <td>
              <br />
              {{ book.name }}
            </td>
            <td>
              <br />
              {{ book.author }}
            </td>
            <td>
              <br />
              {{ book.copies }}
            </td>
            <td>
              <br />
              {{ book.category }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!--modal delete -->
    <b-modal
      header-class="dark"
      id="delete-book"
      title="Delete"
      @ok="deleteBook"
      @cancel="hideDelete"
      @close="hideDelete"
    >
      <p class="my-4">Are you sure you want to delete?</p>
    </b-modal>

    <!--modal add book -->
    <b-modal id="add-book" size="lg" hide-footer title="Add Book"  @close="hideCreate">
      <div class="modaladd" @submit.prevent="createBook">
        <form class="form">
          <div class="form-group row">
            <p class="col-sm-3 col-form-label">Name</p>
            <div class="col-sm-7">
              <input
                type="Name"
                class="shadow bg-white rounded-0"
                id="name"
                v-model="book.name"
                placeholder="Name"
              />
            </div>
          </div>
          <div class="form-group row">
            <p class="col-sm-3 col-form-label">Author</p>
            <div class="col-sm-7">
              <input
                type="author"
                class="shadow bg-white rounded-0"
                id="author"
                v-model="book.author"
                placeholder="Author"
              />
            </div>
          </div>
          <div class="form-group row">
            <p class="col-sm-3 col-form-label">Copies</p>
            <div class="col-sm-7">
              <input
                type="copies"
                class="shadow bg-white rounded-0"
                id="copies"
                v-model="book.copies"
                placeholder="Copies"
              />
            </div>
          </div>
          <div class="form-group row">
            <p class="col-sm-3 col-form-label">Category</p>
            <div class="col-sm-7">
              <select class="shadow bg-white rounded-0" v-model="book.category">
                <option> -- Select Category -- </option>
                <option>Fiction</option>
                <option>Mystery</option>
                <option>Action</option>
              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-sm btn-submit">Add Book</button>
        </form>
      </div>
    </b-modal>

    <!--modal update book -->
    <b-modal id="update-book" size="lg" hide-footer title="Update Book"  @close="hideUpdate">
      <div class="modaladd" @submit.prevent="updateBook">
        <form class="form">
          <div class="form-group row">
            <p class="col-sm-3 col-form-label">Name</p>
            <div class="col-sm-7">
              <input
                type="Name"
                class="shadow bg-white rounded-0"
                id="name"
                v-model="book.name"
                placeholder="Name"
              />
            </div>
          </div>
          <div class="form-group row">
            <p class="col-sm-3 col-form-label">Author</p>
            <div class="col-sm-7">
              <input
                type="author"
                class="shadow bg-white rounded-0"
                id="author"
                v-model="book.author"
                placeholder="Author"
              />
            </div>
          </div>
          <div class="form-group row">
            <p class="col-sm-3 col-form-label">Copies</p>
            <div class="col-sm-7">
              <input
                type="copies"
                class="shadow bg-white rounded-0"
                id="copies"
                v-model="book.copies"
                placeholder="Copies"
              />
            </div>
          </div>
          <div class="form-group row">
            <p class="col-sm-3 col-form-label">Category</p>
            <div class="col-sm-7">
              <select class="shadow bg-white rounded-0" v-model="book.category">
                <option> -- Select Category -- </option>
                <option>Fiction</option>
                <option>Mystery</option>
                <option>Action</option>
              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-sm btn-submit">Update Book</button>
        </form>
      </div>
    </b-modal>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import toastr from "toastr";

export default {
  data() {
    return {
      index: 0,
      book: {
        name: "",
        author: "",
        copies: "",
        category: "",
      },
      books: [
        {
          name: "The Silence of the Lamb",
          author: "Thomas Harris",
          copies: "2",
          category: "Mystery",
        },
        {
          name: "A Walk in the Woods",
          author: "Bill Bryson",
          copies: "4",
          category: "Action",
        },
        {
          name: "Lord of the Flies",
          author: "William Golding",
          copies: "3",
          category: "Fiction",
        },
        {
          name: "A Town like Alice",
          author: "Nevil Shutte",
          copies: "6",
          category: "Fiction",
        },
      ],
    };
  },
   computed: {
    ...mapGetters({
     allBooks: "fetchBooks",
      add: "addBook",
      update: "updateBook",
      delete: "deleteBook",
    }),
    created(){
    this.allBooks();
  },
  methods: {
    showUpdate(index) {
      this.clearInputs();
      this.index = index;
      this.book = { ...this.books[this.index] };
      this.$bvModal.show("update-book");
    },
    showDelete(index) {
      this.clearInputs();
      this.index = index;
      this.$bvModal.show("delete-book");
    },
    hideCreate() {
      this.clearInputs();
      this.$bvModal.hide("add-book");
    },
    hideUpdate() {
      this.clearInputs();
      this.$bvModal.hide("update-book");
    },
    hideDelete() {
      this.clearInputs();
      this.$bvModal.hide("delete-book");
    },
    createBook() {
      this.books.unshift({ ...this.book });
      toastr.success("Book Added", "Successful");
      this.hideCreate();
    },
    updateBook() {
      this.books[this.index] = { ...this.book }
      toastr.success("Book Updated", "Successful");
      this.hideUpdate();
    },
    deleteBook() {
      this.books.splice(this.index, 1);
      this.hideDelete();
    },
    clearInputs() {
      this.index = 0;
      this.book.name = "";
      this.book.author = "";
      this.book.copies = "";
      this.book.category = "";
    },
  },
  mounted() {
    document.title = "Library System | Book Management";
  },
   },
};
</script>
