<template>
  <div>
    <h3><b>CHART</b></h3>
    <div class="container">
      <div class="row">
        <div class="col-6 chart">
          <canvas id="myChart" class="bar" width="60" height="35"></canvas>
        </div>
        <div class="col-6 chart">
          <canvas id="myChart2" class="pie" width="60" height="35"></canvas>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Chart from "chart.js";

export default {
  mounted() {
    document.title = "Library System | Dashboard";
    var ctx1 = document.getElementById("myChart").getContext("2d");
    new Chart(ctx1, {
      type: "bar",
      data: {
        labels: [
          "January",
          "February",
          "March",
          "April",
          "May",
          "June",
          "July",
        ],
        datasets: [
          {
            label: "Borrowed",
            backgroundColor: "#305080",
            data: [10, 10, 20, 20, 40, 20, 60],
          },
          {
            label: "Returned",
            backgroundColor: "#2F67BD",
            data: [100, 30, 80, 4, 30, 10, 30],
          },
        ],
      },
      options: {
        scales: {
          yAxes: [
            {
              ticks: {
                max: 50,
                display: false,
              },
            },
          ],
          xAxes: [
            {
              ticks: {
                max: 70,
              },
              gridLines: {
                display: false,
              },
            },
          ],
        },

        title: {
          display: true,
          text: "Borrowed and Returned Books",
          fontSize: "18",
          fontFamily: "Poppins",
        },
        legend: {
          position: "bottom",
          align: "center",
        },
        gridLines: {
          display: false,
        },
      },
    });

    var ctx2 = document.getElementById("myChart2").getContext("2d");
    new Chart(ctx2, {
      type: "pie",
      data: {
        labels: ["Fiction", "Action", "Mystery"],
        datasets: [
          {
            label: "Ambot",
            backgroundColor: ["#305080", "#2F67BD", "#7095CD"],
            data: [80, 30, 15],
          },
        ],
      },
      options: {
        scales: {
          yAxes: [
            {
              ticks: {
                max: 70,
                display: false,
              },
              gridLines: {
                display: false,
              },
            },
          ],
        },
        title: {
          display: true,
          text: "Popular Book Genre",
          fontSize: "18",
          fontFamily: "Poppins",
        },
        legend: {
          position: "bottom",
          align: "center",
        },
        gridLines: {
          display: false,
        },
      },
    });
  },
};
</script>
