<template>
  <div>
    <div class="container">
      <div class="row ml-1">
        <button type="button" class="btn btn-warning" v-b-modal.add-patron>
          <img class="img" src="@/assets/img/add patron_btn.png" />Add Patron
        </button>
        <input
          type="email"
          class="search shadow bg-white rounded-pill"
          placeholder="Search"
        />
      </div>
    </div>
    <div class="container">
      <table class="shadow bg-white table table-md col-sm-11">
        <thead class="head">
          <tr>
            <th scope="col">Action</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Date Registered</th>
          </tr>
        </thead>
        <tbody class="body right-border">
          <tr v-for="(patron, i) in patrons" :key="i">
            <th scope="row">
              <button
                type="button"
                class="btn btn-primary btn-sm btn-block"
                v-on:click="showUpdate(i)"
              >
                Edit
              </button>
              <b-button
                class="btn btn-secondary btn-sm btn-block"
                v-on:click="showDelete(i)"
                >Delete</b-button
              >
            </th>
            <td>
              <br />
              {{
                patron.lastname +
                  ", " +
                  patron.firstname +
                  " " +
                  patron.middlename
              }}
            </td>
            <td>
              <br />
              {{ patron.email }}
            </td>
            <td>
              <br />
              {{ setDate(patron.registed) }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!--modal delete -->
    <b-modal
      header-class="dark"
      id="delete-patron"
      title="Delete"
      @ok="deletePatron"
      @cancel="hideDelete"
      @close="hideDelete"
    >
      <p class="my-4">Are you sure you want to delete?</p>
    </b-modal>

    <!--modal add patron -->
    <b-modal id="add-patron" size="lg" hide-footer title="Add Patron"  @close="hideCreate">
      <div class="modaladd">
        <form class="form" @submit.prevent="createPatron">
          <div class="form-group row">
            <p class="col-sm-3 col-form-label">First Name</p>
            <div class="col-sm-7">
              <input
                type="FirstName"
                class="shadow bg-white rounded-0"
                id="firstname"
                placeholder="First Name"
                v-model="patron.firstname"
              />
            </div>
          </div>
          <div class="form-group row">
            <p class="col-sm-3 col-form-label">Middle Name</p>
            <div class="col-sm-7">
              <input
                type="text"
                class="shadow bg-white rounded-0"
                id="middlename"
                placeholder="Middle Name"
                v-model="patron.middlename"
              />
            </div>
          </div>
          <div class="form-group row">
            <p class="col-sm-3 col-form-label">Last Name</p>
            <div class="col-sm-7">
              <input
                type="text"
                class="shadow bg-white rounded-0"
                id="lastname"
                placeholder="Last Name"
                v-model="patron.lastname"
              />
            </div>
          </div>
          <div class="form-group row">
            <p class="col-sm-3 col-form-label">Email</p>
            <div class="col-sm-7">
              <input
                type="email"
                class="shadow bg-white rounded-0"
                id="email"
                placeholder="Email"
                v-model="patron.email"
              />
            </div>
          </div>
          <button type="submit" class="btn btn-sm btn-submit">
            Add Patron
          </button>
        </form>
      </div>
    </b-modal>

    <!--modal update patron -->
    <b-modal id="update-patron" size="lg" hide-footer title="Update Patron" @close="hideUpdate">
      <div class="modaladd">
        <form class="form" @submit.prevent="updatePatron">
          <div class="form-group row">
            <p class="col-sm-3 col-form-label">First Name</p>
            <div class="col-sm-7">
              <input
                type="FirstName"
                class="shadow bg-white rounded-0"
                id="firstname"
                placeholder="First Name"
                v-model="patron.firstname"
              />
            </div>
          </div>
          <div class="form-group row">
            <p class="col-sm-3 col-form-label">Middle Name</p>
            <div class="col-sm-7">
              <input
                type="middlename"
                class="shadow bg-white rounded-0"
                id="middlename"
                placeholder="Middle Name"
                v-model="patron.middlename"
              />
            </div>
          </div>
          <div class="form-group row">
            <p class="col-sm-3 col-form-label">Last Name</p>
            <div class="col-sm-7">
              <input
                type="lastname"
                class="shadow bg-white rounded-0"
                id="lastname"
                placeholder="Last Name"
                v-model="patron.lastname"
              />
            </div>
          </div>
          <div class="form-group row">
            <p class="col-sm-3 col-form-label">Email</p>
            <div class="col-sm-7">
              <input
                type="email"
                class="shadow bg-white rounded-0"
                id="email"
                placeholder="Email"
                v-model="patron.email"
              />
            </div>
          </div>
          <button type="submit" class="btn btn-sm btn-submit">
            Update Patron
          </button>
        </form>
      </div>
    </b-modal>
  </div>
</template>


<script>
import toastr from "toastr";
import { mapGetters, mapActions } from 'vuex';
export default {
  data() {
    return {
      index: 0,
      patron: {
        firstname: "",
        middlename: "",
        lastname: "",
        email: "",
        registed: Date.now(),
      },
      patrons: [
        {
          firstname: "Kathleen",
          middlename: "Alapoop",
          lastname: "Igarta",
          email: "igartak@gmail.com",
          registered: Date.now(),
        },
        {
          firstname: "Phoebe Tricia",
          middlename: "",
          lastname: "Besario",
          email: "besariot@gmail.com",
          registered: Date.now(),
        },
        {
          firstname: "Wallin",
          middlename: "Alfredo",
          lastname: "Badidles",
          email: "badidlesw@gmail.com",
          registered: Date.now(),
        },
        {
          firstname: "Cirilo",
          middlename: "Espinisin",
          lastname: "Bucatcat",
          email: "bucatcatc@gmail.com",
          registered: Date.now(),
        },
      ],
    };
  },
  created(){
    this.allPatrons();
  },
  methods: {
    ...mapActions("patrons", {
      allPatrons: "fetchPatrons",
      add: "addPatron",
      update: "updatePatron",
      delete: "deletePatron",
    }),
    showUpdate(index) {
      this.clearInputs();
      this.index = index;
      this.patron = { ...this.patrons[this.index] };
      this.$bvModal.show("update-patron");
    },
    showDelete(index) {
      this.clearInputs();
      this.index = index;
      this.$bvModal.show("delete-patron");
    },
    hideCreate() {
      this.clearInputs();
      this.$bvModal.hide("add-patron");
    },
    hideUpdate() {
      this.clearInputs();
      this.$bvModal.hide("update-patron");
    },
    hideDelete() {
      this.clearInputs();
      this.$bvModal.hide("delete-patron");
    },
    createPatron() {
      this.patrons.unshift({ ...this.patron });
      toastr.success("Book Added", "Successful");
      this.hideCreate();
    },
    updatePatron() {
      this.patrons[this.index] = { ...this.patron };
      toastr.success("Book Updated", "Successful");
      this.hideUpdate();
    },
    deletePatron() {
      this.patrons.splice(this.index, 1);
      this.hideDelete();
    },
    clearInputs() {
      this.index = 0;
      this.patron.firstname = "";
      this.patron.middlename = "";
      this.patron.lastname = "";
      this.patron.email = "";
      this.patron.registered = Date.now();
    },
    setDate(date) {
      const month = new Intl.DateTimeFormat("en", { month: "long" }).format(date);
      const day = new Intl.DateTimeFormat("en", { day: "2-digit" }).format(date);
      const year = new Intl.DateTimeFormat("en", { year: "numeric" }).format(
        date
      );
      return `${month} ${day}, ${year}`;
    },
  },
    computed: {
      ...mapGetters({
        patrons:'getPatrons'
      }),
  },
  mounted() {
    document.title = "Library System | Patron Management";
  },
};
</script>
