*{
    padding: 0;
    margin: 0;
}
.bg{
    background-size: 100px;
    background-attachment: fixed;
    width: 100%;
    padding-top: 0px;
}
.navbar{
    height: 80px;
    width: 100%;
    background: url(../img/gallery/banner.jpg);
}
.logo{ 
    width:70px;
    height: 70px;
    line-height: 40px;
    margin-left: 0px;
}
.navbar ul{
    float: right;
    margin-right: 30px;
}
.navbar ul li{
    list-style:none;
    margin: 0 20px;
    display: inline-block;
    padding-left: 65px;
    line-height: 80px;
    font-size: 20px;
    font-family: "Century Gothic", sans-serif;
    color: #8f8f8f;
}
.gallery{
    margin: 0 auto;
    text-align: center;
    background-attachment:fixed;
    font-size: 90px;
    margin-top:20px;
}
.header{
    margin-top: 40px;
    margin-bottom:30px;
    font-family: 'Great Vibes';
    text-align: center;
    color:#585555;
}
.line{
    width: 10%;
    border: 2px solid black;
    margin: 0 auto;
    margin-left: 620px;
}
.book{
    border: 2px solid black;
    height:300px;
    width:50%;
    margin: 100px;
    margin-left: 350px;
}
div .contact{
   border: 2px solid none;
   background:white;
   width: 70%;
   height: 480px;
   margin: 0 auto;
}
form.form{  
    width:10%;
    margin-bottom:30px;
    font-family: "Century Gothic";
    float: right;
    margin-right: 300px;
}
input.text{
    height: 150px;
    width:300px;
}
input.label{
    width: 300px;  
}
.hear{
 
    width:100%;
    font-family: "century gothic";
    font-size:23px;
    text-align: right;
    padding-right:95px;
}
p{
    text-align: center;
}
.contactimg{
    padding-left: 90px;
    width: 500px;
    height: 263px;
}
.button{
    color:#585555;
    background-color:#F6CFCA;
    margin-top: 20px;
    margin-left: 235px;
}
.btn-primary{
    margin-top: 15px;
    margin-left: 135px;
    width: 165px;
    background-color: #F6CFCA!important;
    color: #585555 !important;
    border-color: #F6CFCA!important;
}
a{
    color: #585555 !important;
}
.cont{
    padding-top: 20px;
    background: url(../img/gallery/banner.jpg) no-repeat;
    height:670px;
}
.contact{
    color:#585555;
    padding-top: 50px;

}
.icon{
   margin: 0 auto;
}
.fb{
    padding-left: 610px;
}
.btn-light{
    background-color: #F6CFCA!important;
    color: #585555 !important;
    border: none !important;
    margin-top: 23px;
    width: 150px;
}
.twt{
    width: 34px;
    height: 34px;
}
.form-control{
    border:none !important;
    margin-top: 15px;
    border-bottom: 2px solid black !important;
}