@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap';
:root{
    
    --primary: #305080;
    --light: #ffffff;
    --grey: #efefef;
    --info: #3F67A4;
}

f

body{
    overflow: hidden;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400 !important;
    color: #305080;
}

.bglight{
    height: 92px;
    background-color: #305080;
}

.search:focus {
    outline: none;
}

.search {
    padding: 3px 5px;
}

.navbar-brand{
    margin-top: 18px;
    margin-left: 10px;
    margin-bottom: 15px;
}

a:hover{
    text-decoration:none !important;
}

.primary{
    background-color: #305080;
}

#sidebar-container{
    min-height: 100vh;
}

#sidebar-container .logo{
    padding: 14px 20px;
}

#sidebar-container .menu{
    width: 18rem;
    font-family: 'Poppins', sans-serif;
}

.light{
    width:100%;
}

.content {
    z-index: 1000;
}

.btninfo{   
     background-color:#3F67A4 !important;
     color: white !important;
     border:none;
     font-family: 'Poppins', sans-serif;
     font-size: 17px !important;
     padding-top:10px !important;
     padding-bottom: 10px !important;
     padding-left:28px !important;
     padding-right:28px !important;
     margin-left: 855px;
}

.navbarlight{
    background-color: #305080;;
    padding: 25px;
}

.btn-block{
    width: 60px;
    font-size: 12px;
    width: 80px;
    background-color:#305080 !important;
    font-family: 'Poppins', sans-serif;
}

.btn-primary{
    background-color: #305080 !important;
    border-style: none;
    margin:0 auto;
    font-size: 11px !important;
    width: 80px !important;
}

.btn-secondary{
    background-color: #A4453F !important;
    border-style: none;
    margin:0 auto;
    width: 80px !important;
    font-size: 11px !important;
}
.head{
    background-color:  #305080 !important;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.btn-warning{
    background-color:  #305080 !important;
    border-style: none;
    width: 145px !important;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: 42px;
    margin-right: 532px;
    font-family:'Poppins', sans-serif;
    color: #ffffff !important;
}

.rounded-pill{
   color: black;
   padding: 5px 15px;
   margin-bottom: 20px;
   margin-top: 50px;
   font-size: 15px;
   width: 250px;
}

.table-md{
    text-align: center;
    margin: 0 auto;
}

.body{
  width: 100%;
  border-collapse: collapse;
}

.btn-edit{
    width: 90px;
    margin-bottom: 3px !important;
    margin-right: 3px !important;
    color: #ffffff !important;
    background-color:  #305080 !important;
}

.btn-borrow{
    width: 90px !important;
    margin-bottom: 3px !important;
    color: #ffffff !important;
    background-color: #A43F63 !important;
}

.btn-delete{
    width: 90px !important;
    color: #ffffff !important;
    margin-right: 3px !important;
    background-color: #A4453F !important;
}

.btn-del{
    width: 90px !important;
    color: #ffffff !important;
    margin-right: 3px !important;
    background-color: #A4453F !important;
}

.btn-return{
    width: 90px !important;
    color: #ffffff !important;
    background-color: #3FA492 !important;
}


.btn-submit{
    margin-left: 465px !important;
    background-color: #305080 !important;
    border-style: none;
    font-size: 17px;
    color: #ffffff !important;
    width:100px;
    height: 35px;
    margin-top: 30px;
    margin-bottom: 20px;
} 

.btn-submit2{
    margin-left: 480px !important;
    background-color: var(--info);
    border-style: none;
    font-size: 17px;
    color: var(--light);
    width:100px;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 40px;
} 

.rounded-0{
    width: 300px !important;
    border-style: none;
    height: 30px;
}

.col-form-label{
    margin-left: 65px;
}

.modaladd{
    margin-top: 50px;
}

.modal-header{
    background-color: #305080 !important;
    color: var(--light);
}

.header{
    font-size: 19px;
    margin-top: 8px;
    font-family: 'Poppins', sans-serif;
    height:10px;
}

.modal-sm{
    margin:0 auto;
    margin-top: 100px;
}

.img{
    width: 30px;
    height: 30px;
    padding-right:7px;
    padding-bottom:5px;
}

.icon{
    width: 35px;
    height: 35px;
}

.pie{
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid black;
}

.bar{
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid black;
}

h3{
    text-align: center;
    padding-top: 50px;
    color: black;
    font-family: 'Poppins',sans-serif;
}

.dark{
    background-color: #305080 !important;
}